@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');    
body{
  background: linear-gradient(-135deg, #E4A972, #9941D8);
  color: #cccccc;
  font-family: 'Sawarabi Gothic', sans-serif;
  background-size: cover;
}

footer{
  margin-top: 200px;
  text-align: center;
}


.subtitle{
  font-size: 50px;
}

.list{
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

